.button{
    display: inline-block;
    padding:1em ;
    background-color:$naranjaoscuro ;
    text-align: center;
    border:none ;
    border-radius: 5px;
    cursor: pointer;
    color: black;

    &__:hover{
        background-color: $morado;
    }
    
}