$amarillo: #FAE85A;
$ama-verde: #DEBF50;
$amarillo-dark: #F5C764;
$cafeclaro: #DEA350;
$naranja: #FAA050;

$amarillo: #FAA050;
$verdelect: #7EF57D;
$naranjaoscuro: #F5A364;
$violeta: #694CF5;
$morado: #4F3DA8;

$primaryfont: verdana;
$boldprimary: verdana bold;

$xx-large: 22px;
$x-large:20px;
$large: 18px;
$medium:14px;
$small: 12px;